#mrdlib_container {
  background-color: #eef2f5;
  color: #333333;
  font-family: arial, helvetica, sans-serif;
  font-size: 80%;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  width: 200px;
}

#mrdlib_container ul {
  list-style-type: none;
  padding-left: 0px;
}

#mrdlib_container a {
  text-decoration: none;
}

#mrdlib_recommendation_author {
    border-top-style: solid;
    border-top-color: #a3b7c7;
    border-top-width: 1px;
    color: #333333;
    font-size: 70%;
    padding-top: 10px;
}

#mrdlib_recommendation_title {
    color: #333333;
    font-size: 90%;
    padding-bottom: 9px;
}